Repository RESOStandards/reso-upi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "eslint"
  ],
  "*.mjs": [
    "prettier --write",
    "eslint"
  ],
  "*.html": [
    "eslint",
    "prettier --write"
  ],
  "*.scss": "prettier --write"
}

#8: Add hash support
  .eslintrc.json
  README.md
  index.js
  package-lock.json
  package.json
  test/test.js
Due: prettier --write, eslint

#8: Updated README
  .prettierrc.json
  README.md
Due: none

#8: Cleaned up README
  README.md
Due: none

Update README.md
  README.md
Due: none

#8: Add proposed support for hashing (#9)
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  README.md
  index.js
  package-lock.json
  package.json
  test/test.js
Due: prettier --write, eslint

Update codecheck.yml
  .github/workflows/codecheck.yml
Due: none

Removed Husky and Lint Staged
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

Updated README.md
  README.md
Due: none

Updated README.md (#16)
  README.md
Due: none

Create upi-builder.html
  html/upi-builder.html
Due: prettier --write, eslint

Update upi-builder.html
  html/upi-builder.html
Due: prettier --write, eslint

Rename upi-builder.html to index.html
  builder/index.html
Due: prettier --write, eslint

Create _config.yml
  _config.yml
Due: none

Update index.html
  builder/index.html
Due: prettier --write, eslint

#18 Create static html UPI builder page (#20)
  README.md
  _config.yml
  builder/index.html
Due: prettier --write, eslint

Update _config.yml
  _config.yml
Due: none

Create style.scss
  assests/css/style.scss
Due: prettier --write

Delete assests/css directory
  assests/css/style.scss
Due: prettier --write

#21: Updated terminology
  README.md
Due: none

#21: Updated UPI Builder
  builder/index.html
Due: prettier --write, eslint
